/* Regras de Formatação*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}